node_modules/
.nyc_output/*
#.env
start-local-server
test-local-server
start-decatur-main.sh
start-decatur-test.sh
test-decatur-main.sh
start-bitcoincom.sh
test-remote-server.sh
start-bitcoincom-testnet.sh
start-local-server.sh
start-local-testnet-server.sh
start-local-mainnet.sh
start-local-testnet.sh
test-fullstack-main.sh
start-fullstack-main.sh
start-fullstack-test.sh
start-free-main.sh

coverage
start-my-infra
dist/routes/**
test-v1
nohup.out
slp-tx-db/
logs/*
docs/*
docker/mainnet/start-local-mainnet.sh
docker/testnet/start-local-testnet.sh


!logs/README.md
