node_modules/
.nyc_output/*
.env
start-local-server
test-local-server
start-decatur-main
start-decatur-test
start-bitcoincom.sh
test-remote-server.sh
start-bitcoincom-testnet.sh
start-local-server.sh
start-local-testnet-server.sh

coverage
start-my-infra
dist/routes/**
test-v1
nohup.out
slp-tx-db/
logs/
docs/*

